:root {
  --main: #4285F4;
  --secondary: #232425;
  --white: #ffffff;
  --grey: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: .4s;
  color: var(--secondary);
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--secondary);
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Titillium Web', sans-serif;
}

/* Login Main */
.login-main {
  margin: 0% auto;
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-main-a {
  padding: 2.5%;
  width: 70%;
  height: 60vh;
  background-color: var(--white);
}

.login-main-a * {
  margin: 2.5%;
}

.login-main-b {
  width: 30%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
  opacity: .6;
  background-image: url("https://images.unsplash.com/photo-1446669052213-5dcff53f1f3f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80");
}

.login-main-a h1 {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}

.login-main-a input {
  width: 60%;
  border: none;
  outline: none;
  border-bottom: solid 1px var(--secondary);
}

.login-main-a p {
  color: var(--secondary);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.login-main-a button {
  width: 60%;
  border: none;
  padding: .5%;
  color: var(--white);
  background-color: var(--main);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.login-main-a button:hover {
  border: solid 1px var(--main);
  color: var(--main);
  background-color: var(--white);
}

/* App Main */
.app-main {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.app-main-split {
  width: 100%;
  display: flex;
  height: 90vh;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.app-main-split-games {
  margin: 1.25%;
  width: 60%;
  height: 90vh;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

/* Nav Bar Main */
.nav-bar-main {
  width: 100%;
  padding: 1.25%;
  background-color: var(--main);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-bar-main h1, h4 {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.nav-bar-main h1 span {
  font-size: 22px;
  color: var(--white);
}

.nav-bar-main h4 span {
  font-size: 22px;
  color: var(--white);
}

/* EnterGame Main */
.enter-game-main {
  width: 100%;
  margin-bottom: 1.25%;
  height: 55vh;
  padding: 2.5%;
  border-radius: 5px;
  overflow-y: scroll;
  background-color: var(--grey);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.enter-game-main-top {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.enter-game-main-top-one {
  height: 33vh;
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.enter-game-main-top-one input, select {
  width: 75%;
  border: none;
  padding: 1.25%;
  border-radius: 5px;
  background-color: var(--white);
}

.enter-game-main-top-two{
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
}

/* .enter-game-main-bottom {
  
} */

.enter-game-main-bottom input {
  width: 100%;
  border: none;
  padding: .5%;
  border-radius: 5px;
  color: var(--white);
  background-color: #DB4437;
  transition: 0.6s;
}

.enter-game-main-bottom input:hover {
  opacity: 0.8;
}

/* RenderGame Main */
.render-game-main {
  margin-top: 1.25%;
  width: 100%;
  height: 55vh;
  overflow-y: scroll;
}

/* Game Card Main */
.game-card-main {
  padding: 2.5%;
  margin-bottom: 5%;
  border-radius: 5px;
  background-color: var(--grey);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.game-card-main h1 {
  padding: 3.5%;
  border-radius: 5px;
  font-size: 26px;
  font-weight: 400;
  margin-right: 2.5%;
  color: var(--white);
  background-color: var(--main);
}

.game-card-main h1 span {
  font-size: 20px;
  font-weight: 400;
  color: var(--white);
}

/* .game-card-main div {
} */

.game-card-main div h2 {
  font-size: 16px;
  font-weight: 400;
  margin: .5% 0% .5% 0%;
  background-color: var(--grey);
}

/* Player Side Main */
.player-side-main {
  width: 40%;
  height: 100%;
  margin: 1.25%;
  overflow-y: scroll;
}

/* Player Card Main */
.player-card-main {
  padding: 2.5%;
  margin-bottom: 5%;
  border-radius: 5px;
  background-color: var(--grey);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}

.player-card-main-one {
  padding: 2.5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.player-card-main-one div {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: start;
}

.player-card-main-one img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 2.5%;
}

.player-card-main-one div h1 {
  font-size: 16px;
  font-weight: 400;
}

.player-card-main-one div p {
  font-size: 16px;
  font-weight: 400;
}

.player-card-main-two {
  width: 100%;
  padding: 2.5%;
}

.player-card-main-two-statistic-bar {
  width: 100%;
  height: 2.5vh;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.win {
  padding-left: 1.25%;
  display: flex;
  align-items: center;
  height: 4vh;
  color: var(--white);
  background-color: #0F9D58;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tie {
  padding-left: 1.25%;
  display: flex;
  align-items: center;
  height: 4vh;
  color: var(--white);
  background-color: #F4B400;
}

.loss {
  padding-left: 1.25%;
  display: flex;
  align-items: center;
  height: 4vh;
  color: var(--white);
  background-color: #DB4437;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Loading Wheel Animation Main */
.loading-wheel-main {
  margin: 0% auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 22.5%;
}

#svg-spinner{
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  transition-property: transform;
  animation-name: rotate; 
  animation-duration: 1.2s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
